In [1]:
import pandas as pd
import numpy as np

In [15]:
data_name = "credit"
input_name = "./" + data_name + "-cont.csv"
output_name = "./" + data_name + "-cont-cooked.csv"

In [16]:
df = pd.read_csv(input_name, header = None)
print("Dataset shape:", df.shape)

Dataset shape: (690, 6)

##### fill in the missing values by the median of each column

In [17]:
df.replace("?", np.nan, inplace=True)

         0       1     2  3    4    5
0    30.83   0.000  1.25  1  202    0
1    58.67   4.460  3.04  6   43  560
2    24.50   0.500  1.50  0  280  824
3    27.83   1.540  3.75  5  100    3
4    20.17   5.625  1.71  0  120    0
..     ...     ...   ... ..  ...  ...
685  21.08  10.085  1.25  0  260    0
686  22.67   0.750  2.00  2  200  394
687  25.25  13.500  2.00  1  200    1
688  17.92   0.205  0.04  0  280  750
689  35.00   3.375  8.29  0    0    0

[690 rows x 6 columns]

In [18]:
df_filled = df.fillna(df.median())

In [20]:
df_filled.to_csv(output_name, header=False, index = False)